.realbutton {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }

  .buttonpick {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
  }
  
  .buttonpick:hover {
    background-color: #008CBA;
    color: white;
  }

  .form-input {
    font-family: 'Roboto', sans-serif;
    color: #333;
    font-size: 1.2rem;
    padding: 0.7rem 2rem;
    background-color: #F2F2F2;
    border: none;
    width: 50%;
    height: 20%;
    display: block;
    transition: all 0.3s;
  }

  .moreinfo {
      border:none;
      background-color:white;
      border:2px solid black;
  }
  .addmentor {
      border:none;
      background-color:white;
  }

  .repair {
    background-color:white;
    text-decoration: none;
    border:none;
    size:5px;
    border:2px solid black;

}