<table style="vertical-align:top;padding-right:10%;">
<tr style="vertical-align:top;">
<td class="navbar">

    <p class="myapp">{{title}}</p>

  <br/><br/><br/><br/><br/><br/>
  <table class="table2">

    <tr class="li">
      <td><a class="link" routerLink="/myprofile">My Profile</a></td>
    </tr>
    <tr class="li">
      <td><a class="link" routerLink="/users">Users</a></td>
    </tr>
    <tr class="li">
      <td><a class="link" routerLink="/levels">Levels</a></td>
    </tr>
    <tr class="li">
      <td><a class="link" routerLink="/contracts">Contracts</a></td>
    </tr>
    <tr class="li">
      <td><a class="link" routerLink="/executed-contracts">Executed Contracts</a></td>
    </tr>
    <tr class="li">
      <td><a class="link" routerLink="/products">Products</a></td>
    </tr>
    <tr class="li">
      <td><a class="link" routerLink="/clients">Clients</a></td>
    </tr>
  </table>
<br/>
<br/><br/><br/>
</td>
<td class="routeroutlet">
<router-outlet></router-outlet>
</td>
</tr>
</table>
